The path for the files is /content/filename

In [75]:
#For working with linear algebra concepts
import numpy as np
from numpy import NaN

#I/O for .csv files
import pandas as pd

#Imports accuracy, percision, tools etc.
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [76]:
train_data = pd.read_csv("/content/titanic_train.csv")
train_data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [77]:
train_data.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [78]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Search for patterns to create a basic model to work with.

In [79]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
women.mean()

0.7420382165605095

In [80]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
men.mean()

0.18890814558058924

Let's create a random forest model. First, we need to determine which features to use.

In [81]:
from sklearn.ensemble import RandomForestClassifier

In [82]:
y = train_data["Survived"]
features = ["Pclass", "Sex", "Fare", "Embarked", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X.head()

   Pclass     Fare  SibSp  Parch  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0       3   7.2500      1      0  ...         1           0           0           1
1       1  71.2833      1      0  ...         0           1           0           0
2       3   7.9250      0      0  ...         0           0           0           1
3       1  53.1000      1      0  ...         0           0           0           1
4       3   8.0500      0      0  ...         1           0           0           1

[5 rows x 9 columns]

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [84]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)

In [85]:
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=5, random_state=42)

In [86]:
y_pred = model.predict(X_test)

In [87]:
print(y_pred[0:5])
print(y_test[0:5])

[0 0 0 1 1]
709    1
439    0
840    0
720    1
39     1
Name: Survived, dtype: int64

In [88]:
metrics.accuracy_score(y_test, y_pred)

0.7988826815642458

In [90]:
print(metrics.confusion_matrix(y_test, y_pred, labels=[1, 0]))

[[50 24]
 [12 93]]

In [92]:
print(metrics.classification_report(y_test, y_pred, labels=[1,0]))

              precision    recall  f1-score   support

           1       0.81      0.68      0.74        74
           0       0.79      0.89      0.84       105

    accuracy                           0.80       179
   macro avg       0.80      0.78      0.79       179
weighted avg       0.80      0.80      0.80       179